<div class="container">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">
			<ul>
				<li>At the first you should press "Parse with RakeTask" link! Then begin parsing as background process!</li>
				<li>Then you can press "All News" link and you will see all parsed News</li>
				<li>If you want to see json data of the one news you can press on the title</li>
				<li>If you want to see all News at the json format then press "All news json"</li>
				<li>Link "Delete all Posts" speaks for itself</li>
			</ul>
		</div>
	</div>
</div>