<table class="table table-inverse">
  <thead>
    <tr>
      <th>Title</th>
      <th>Link to News</th>
      <th>Author</th>
    </tr>
  </thead>
  <tbody>
  	<div class='post_index_page' >
			<% @posts.each  do |post| %>
		    <tr>
		      <td><%= link_to post.title, api_v1_post_path(post) %></td>
          <td><%= link_to 'Show Source', post.url %></td>
		      <td><%= post.author %></td>
		    </tr>
			<% end %>
		</div>
  </tbody>
</table>
<%= will_paginate @posts %>
